.dashb-body{
    margin-left: 17.5%;
    margin-top: -85.5vh;
    margin-right: 18%;
}
.searchingbar{
    background-color: rgb(216, 207, 198);
    border-radius: 10px;
    margin-top: -50vh;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}
.searching{
    width: 110vh;
    margin-left: 20px;
}
#searching-btn{
    margin-left: 5vh;
}
.submitingbtn{
    background-color: black;
    border: black;
}
.submitingbtn:hover{
    background-color: rgb(39, 38, 38);
    border-color: black;
}
.dashing-section{
    border-radius: 10px;
    margin-top: 0px;
    padding-bottom: 1px;
}
.mb-3{
    display: flex;
    background-color: rgb(226, 218, 218);
    border: 2px solid rgb(192, 188, 188);
    border-radius: 10px;
}

.dashing-section .nav-pills .nav-link.active {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.inv-topic-dashing{
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 10px;
    background-color: #b11b1b !important;

    margin-top: -15px;
    border-radius: 5px;
}

.table-header-bg {
    background-color: #b11b1b !important;
}

.printbtn{
    background-color: black;
    border-color: black;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}
.printbtn:hover{
    background-color: rgb(39, 38, 38);
    border-color: black;
}
.printbtnx{
    background-color: black;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}
.printbtnx:hover{
    background-color: rgb(39, 38, 38);
    border-color: black;
}
.inv-content2{
    background-color: gray;
    border-radius: 5px;
    margin: 5px;
    margin-top: 10px;
    padding: 10px;
}
/*notification.js*/
#remindcolorx{
    border-radius: 10px;
    padding: 5px;
    background-color: yellow;
    list-style-type: none;
}
#remindcolory{
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(255, 0, 0);
    list-style-type: none;
}
.notifications{
    color: #1e1d1d;
    font-style: italic;
}
.notifications h5{
    color: #fff;
    font-size: 15px;
}
#notiscrol{
    max-height: 400px;
    overflow-y:auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}
/**/

@media (width < 1150px) {
    .dashing-section{
        font-size: 13px;
    }
    .inv-dashing{
        font-size: 13px;
    }
    .printbtn{
        padding-left: 10px;
        padding-right: 10px;
    }
  }
  @media (width < 1000px) {
    .foot{
        margin-left: -200px;
    }
    .notifications h5{
        font-size: 11px;
    }
  }
  @media (width < 700px) {
    .dashing-section{
        font-size:9px;
    }
    .inv-dashing{
        font-size: 9px;
    }
    .notifications h5{
        font-size: 9px;
    }
  }

  @media (width < 650px) {
    .dashb-body {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: -85.5vh;
    }
    body{
        border: 7px solid black;
        border-radius: 10px; 
    }
    .dashing-section{
        font-size:12px;
    }
  }

  @media (width < 500px) {
    .dashing-section{
        font-size:10px;
    }
    .printbtn{
        margin-left: -50px;
    }
  }

  @media (width < 430px) {
    .dashing-section{
        font-size:8px;
        font-weight: bolder;
    }
  }