.imglog {
    width: 50px;
    height: 50px;
    margin-left: 45%;
    margin-top: 3px;
  }
  .black {
    background-color: rgb(0, 0, 0);
    height: 25vh;
    margin: 0%;
  }
  
  .reg{
    margin-left: 40%;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
  
  .class1{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
  }
  
  .class2{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
  }
  
  .formWrapper {
    background-color: rgba(226, 223, 223, 0.4);
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    position: absolute;
    top: 18vh;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  
  @media (min-width: 769px) {
    .formWrapper {
      width: 500px;
    }
  }
  
  p{
    text-align: center;
  }
  
  .btnlog {
    background: rgb(0, 0, 0);
    margin-left: 33px;
    width: 400px;
    border-color: black;
  }
  .btnlog:hover {
    background: rgb(67, 64, 64);
    margin-left: 33px;
    width: 400px;
    border-color: black;
  }
  
  .App-logolog {
    height: 40vmin;
    pointer-events: none;
  }
  
  span{
    color: red;
  }
  .span2{
    color:#626262;
  }
  
  .span3{
    color:#09ed2b;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logolog {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .mb-4{
    margin-left: 50%;
  }
  .wrapper {
    position:relative;
  }
  
  .icon1 {
    height: 1.5rem;
    width: 1.5rem;
    background-image: url("../assets/password.png");
    padding: 4px;
    margin-left: -1%;
    margin-top: -1%;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:2px;
    transform: translateY(-50%);
  }
  
  .input {
    height: 50px;
    box-sizing:border-box;
    padding-left: 1.5rem;
  }