#backgroundbodymain{
    border-radius: 10px;
    background-color: rgb(64, 65, 65);
}
.backgroundmain{
    background-color: rgb(0, 0, 0);
}
.cont-sec-main {
  height: 100vh;
  width: 100%;
}

.rowsize1 {
  height: 12%;
}
.rowsize2 {
    height: 88%;
  }

.rowcolor {
  background-color: black;
  color: white;
}
.mobcolor{
    background-color: black;
    width: 200px !important;
}
.header{
    display: flex;
    margin: 10px;
}
.header2{
    display: flex;
    margin-left: 68%;
    margin-top: 10px;
}
#header-name{
    margin-top: 10px;
}

.nav{
    display: block;

}
.navmob{
    font-size: 15px;
}
.navitem{
    margin-top: 20px;
    margin-bottom: 0px;
    color: white;
}
.logout{
    margin-top: 130px;
    margin-bottom: 0px;
}
.navlink{
    color: white;
}
#profile-img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
#world-ball{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 68%;
}

.noti-col{
    background-color: rgb(0, 0, 0);
}
#noti-head{
    text-align: center;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    background-color: green;
}
#noti-sec{
    border: 2px solid rgb(136, 129, 129);
    padding: 10px;
    background-color: rgb(10, 9, 9);
    border-radius: 10px;
}
.d-lg-none{
    display:none;
}
#notiButton{
    margin-bottom: -20px;
    margin-left: 220px !important;
    font-size:50px;
}
#menubutton{
    margin-bottom: -20px;
    font-size:40px;
}

@media (width < 1000px) {
    .navlink{
        font-size: 12px;
    }
    .noti-col{
        font-size: 12px;
    }
    #noti-head{
        font-size: 15px;
    }
  }
  
@media (width < 850px) {
    .navlink{
        font-size: 10px;
    }
    .noti-col{
        font-size: 10px;
    }
    #noti-head{
        font-size: 13px;
    }
  }
  @media (width < 760px) {
    .navlink{
        font-size: 9px;
    }
    #noti-head{
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
    }
    .noti-col{
        font-size: 9px;
    }
    
  }
  @media (width < 650px) {
    .d-lg-none{
        display:block;
    }
    .rowsize2{
        display: none;
    }
    .backgroundmain{
        background-color: unset;
    }
  }
  @media (width < 590px) {
    #notiButton{
        margin-left:150px !important;
        font-size:50px;
    }
  }

  @media (width < 510px) {
    #notiButton{
        margin-left:90px !important;
        font-size:50px;
    }
  }

  @media (width < 450px) {
    #notiButton{
        margin-left:40px !important;
        font-size:50px;
    }
  }

  @media (width < 395px) {
    #notiButton{
        margin-left:-10px !important;
        font-size:50px;
    }
  }
  @media (width < 350px) {
    #notiButton{
        margin-left:-60px !important;
        font-size:50px;
    }
  }
  @media (width < 300px) {
    #notiButton{
        margin-left:-120px !important;
        font-size:50px;
    }
  }
  @media (width < 270px) {
    #notiButton{
        margin-left:-160px !important;
        font-size:50px;
    }
  }
  @media (width < 250px) {
    #notiButton{
        margin-left:-200px !important;
        font-size:50px;
    }
  }
  @media (width < 230px) {
    #notiButton{
        margin-left:-250px !important;
        font-size:50px;
    }
  }
  @media (width < 200px) {
    #notiButton{
        margin-left:-300px !important;
        font-size:50px;
    }
  }